body {
    padding-top: 90px;
    padding-bottom: 40px;
}

input {
  max-width: 196px !important;
}

.delete-link {
  margin-left: 10px;
}

.charts-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}